<web-app>

    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>ru.job4j.authentication.AuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>ControllerAJAX</servlet-name>
        <servlet-class>ru.job4j.pretty_interface.ControllerAJAX</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControllerAJAX</servlet-name>
        <url-pattern>/ajax</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ResourceController</servlet-name>
        <servlet-class>ru.job4j.pretty_interface.ResourceController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ResourceController</servlet-name>
        <url-pattern>/src/*</url-pattern>
    </servlet-mapping>

</web-app>