<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>Files</servlet-name>
        <servlet-class>ru.job4j.sell_car.controller.Files</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Files</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Files</servlet-name>
        <url-pattern>/img/*</url-pattern>
    </servlet-mapping>
    <listener>
        <listener-class>
            org.apache.commons.fileupload.servlet.FileCleanerCleanup
        </listener-class>
    </listener>
    <servlet>
        <servlet-name>Ajax</servlet-name>
        <servlet-class>ru.job4j.sell_car.controller.Ajax</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Ajax</servlet-name>
        <url-pattern>/ajax</url-pattern>
    </servlet-mapping>
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/error</location>
    </error-page>
    <servlet-mapping>
        <servlet-name>ErrorHandler</servlet-name>
        <url-pattern>/error</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ErrorHandler</servlet-name>
        <servlet-class>ru.job4j.sell_car.controller.ErrorHandler</servlet-class>
    </servlet>
</web-app>
