url = sqlite:db.sqlite

SQL_create_table = create table if not exists 'tracker' (\
    id varchar(22) primary key,\
    name varchar(50) not null,\
    description varchar(500),\
    created timestamp default now);\
    create table if not exists 'comments'(\
    id integer primary key,\
    item_id integer references tracker(id) not null,\
    comment varchar(2000) not null)

get_all = select * from 'tracker'
get_comments = select comment from 'comments' where item_id = '%S'
set_item = insert into 'tracker' values('%s','%s','%s','%s')
set_comment = insert into 'comments'( item_id, comment values('%s','%s')
get_tracker_id = select * from 'tracker' where id = '%s'
get_tracker_name = select * from 'tracker' where name = '%s'
delete_id = delete from 'tracker' where id = '%s'; delete from 'comments' where item_id = '%1$s'
update_id = update 'tracker' set name = '%2$s', description = '%3$s', created = '%4$s' where id = '%1$s'