interval = 5

url = http://www.sql.ru/forum/job-offers/

db_url = sqlite:db.sqlite

start_db = create table if not exists 'vacancy' (\
    id integer primary key autoincrement,\
    heading varchar(500) not null,\
    description varchar(5000),\
    created timestamp default now)
get_lastStart = select created from vacancy where id=1
upd_lastStart = update vacancy set created = '%s' where id = 1
ins_lastStart = insert into vacancy values (1, 'lastStartTime', '', '%s')
ins_vacancy = insert into vacancy values (null, '%s', '%s', '%s')
del_dup = delete from vacancy where id in(select l.id from vacancy as l \
 join vacancy as r where l.heading = r.heading and l.id > r.id)