SQL_create_table = drop table if exists 'tracker';\
    drop table if exists 'comments';\
    create table 'tracker' (\
    id varchar(22) primary key,\
    name varchar(50) not null,\
    description varchar(500),\
    created timestamp default now);\
    create table 'comments'(\
    id integer primary key,\
    item_id integer references tracker(id) not null,\
    comment varchar(2000) not null)